body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* img,h1,ul,li {
    display: inline-block;
    color: black;
} */

#header {
    border-bottom: 1px solid black;
}

#header * {
    display: inline-block;
    color: black;
    vertical-align: center;
    
}

#header h1 {
    font-size: 16px;
}

#header img {
    width: 70px;
}

#header nav {
    float: right;
    margin-top: 25px;
    margin-left: 25px;
}

#header nav ul li {
    width: 120px;
    text-align: center;
}

#banner {
    text-align: center;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-weight: bold;
    height: 500px;
}

#banner h2 {
    font-size: 35px;
    text-transform: uppercase;
}

#banner button {
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    padding:20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 40px;
}

#banner button:hover, .imgBox button:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}

#banner p {
    padding-top: 240px;
}
#banner section {
    overflow: none;
}

footer{
    background-color: #5f4a90;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.imgBox {
    background-color: red;
    width: 327px;
    height: 300px;
    float: left;
    margin: 20px;
    background-size: cover;
    text-align: center;
}

.imgBox button{
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    padding:10px;
    font-weight: 600;
    font-size: 10px;
}


.galeria section {
    overflow: hidden;

}
.galeria{
    overflow: hidden;
    margin: 0 auto;
    /* background: black; */
    width: 1101px;
    text-align: center;
}

#box1{
    background-image: url(../img/product-1.jpg);
}
#box2{
    background-image: url(../img/product-2.jpg);
}
#box3{
    background-image: url(../img/product-3.jpg);
}
#box4{
    background-image: url(../img/product-4.jpg);
}
#box5{
    background-image: url(../img/product-5.jpg);
}
#box6{
    background-image: url(../img/product-6.jpg);
}

#contact form{
    width: 500px;
    text-align: center;
    border-style: groove;
    background-color: rgba(255,255,255,0.8);
    
}
#contact *{
    text-align: center;
    padding: 10px;
}

#contact input textarea{
    border-radius: 5px;
    border-color: gray;
}