/*
width,
height,
display: inline-block,
margin,
padding,


*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 75px 0 0 0;
}

#header {
    border-bottom: 1px solid;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

#header * {
    display: inline-block;
}

#header h1 {
    font-size: 16px;
}

#header img {
    width: 70px;
}

#header ul {
    float: right;
    margin-top: 25px;
    margin-left: 25px;
}

#header ul li {
    width: 120px;
    text-align: center;
}

#banner {
    text-align: center;
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    font-weight: bold;
}

#banner h2{
    font-size: 35px;
    text-transform: uppercase;
}

#banner button{
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
}

#banner button:hover, .box button:hover{
    background-color: purple;
    color: #fff;
    cursor: pointer;
}

#banner p {
    padding-top: 240px;
}

.contact{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    padding: 40px;
}
footer {
    background-color: #5f4a90;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
}

.box {
    width: 327px;
    height: 300px;
    float: left;
    margin: 20px;
    background-size: cover;
}

.box button{
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: 400;
    
}

#box1{
    background-image: url(../img/product-1.jpg);
}
#box2{
    background-image: url(../img/product-2.jpg);
}
#box3{
    background-image: url(../img/product-3.jpg);
}
#box4{
    background-image: url(../img/product-4.jpg);
}
#box5{
    background-image: url(../img/product-5.jpg);
}
#box6{
    background-image: url(../img/product-6.jpg);
}

section{
    overflow: hidden;
    text-align: center;
}

.linha{
    width: 1104px;
    margin: 0 auto;

}
/* css do formulario */

#form-contact *{
    display: block;
}

#form-contact{
    border: 1px solid;
    border-radius: 10px;
    width: 35%;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffffd6;
    position: relative;
}

#form-contact h1{
    text-align: center;
}

#form-contact input, textarea{
    width: 100%;
    height: 25px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #6a5990;
}

#form-contact textarea{
    height: 120px;
}

input#dados{
    display: inline-block;
    width:5%;
}

#form-contact label[for="dados"]{
    display: inline-block
}

#form-contact button{
    display: inline-block;
    background-color: purple;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
}
